@model Online_Logistics_Registration_Entity.Vehicle

@{
    ViewBag.Title = "AddVehicle";
}

<h2>AddVehicle</h2>

@using (Html.BeginForm("AddVehicle", "Online_Logistics_Registration", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.vehicleID)
            </td>
            <td>
                @Html.EditorFor(Model => Model.vehicleID)
                @Html.ValidationMessageFor(Model=>Model.vehicleID)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.vehicleNumber)
            </td>
            <td>
                @Html.EditorFor(Model => Model.vehicleNumber)
                @Html.ValidationMessageFor(Model=>Model.vehicleNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.vehicleType)
            </td>
            <td>
                @Html.EditorFor(Model => Model.vehicleType)
                @Html.ValidationMessageFor(Model=>Model.vehicleType)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.startLocation)
            </td>
            <td>
                @Html.EditorFor(Model => Model.startLocation)
                @Html.ValidationMessageFor(Model => Model.startLocation)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.destinationLocation)
            </td>
            <td>
                @Html.EditorFor(Model => Model.destinationLocation)
                @Html.ValidationMessageFor(Model => Model.destinationLocation)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(Model => Model.vehicleLoadWeight)
            </td>
            <td>
                @Html.EditorFor(Model => Model.vehicleLoadWeight)
                @Html.ValidationMessageFor(Model => Model.vehicleLoadWeight)
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Back to the Details", "ViewVehicle")
            </td>
            <td>
                <input type="submit" id="Submit" />
            </td>
        </tr>
    </table>
}
