@model Online_Logistics_Registration_Entity.Vehicle

@{
    ViewBag.Title = "SearchDisplay";
}

<div class="viewSuggestionForm">
    <h2>VehicleSuggestion</h2>

    @*<table border="1" class="table">*@
    @foreach (Online_Logistics_Registration_Entity.Vehicle item in (IEnumerable<Online_Logistics_Registration_Entity.Vehicle>)TempData["Suggestion"])
    {
        <table @*border="1"*@ @*class="tableStyle"*@ class="table">
            <tr>

            <tr class="rowStyle">
                <td class="columnStyle">
                    Vehicle Id
                </td>
                <td>
                    @item.VehicleID

                </td>
                @try
                {
                    string image = Convert.ToBase64String(item.Image);
                    string imageSource = String.Format("data:image/gif;base64,{0}", image);
                    <td rowspan="8">
                        <img src='@imageSource' style="width:290px;height:175px;" />
                    </td>
                }
                catch (Exception)
                {
                    <td rowspan="8">
                        <img src="" alt="No image" />
                    </td>
                }
            </tr>

            <tr class="rowStyle">
                <td class="columnStyle">
                    Vehicle Number
                </td>
                <td>
                    @item.VehicleNumber
                </td>
            </tr>
            <tr class="rowStyle">
                <td class="columnStyle">
                    Vehicle Type
                </td>
                <td>
                    @item.VehicleType.VehicleTypes
                </td>
            </tr>
            <tr class="rowStyle">
                <td class="columnStyle">
                    Start Location
                </td>
                <td>
                    @item.StartLocation
                </td>
            </tr>
            <tr class="rowStyle">
                <td class="columnStyle">
                    Destination Location
                </td>
                <td>
                    @item.DestinationLocation
                </td>
            </tr>
            <tr class="rowStyle">
                <td class="columnStyle">
                    Distance
                </td>
                <td>
                    @item.Distance
                </td>
            </tr>
            <tr class="rowStyle">
                <td class="columnStyle">
                    Rate
                </td>
                <td>
                    @item.Rate
                </td>
            </tr>
            <tr class="rowStyle">
                <td class="columnStyle">
                    Load
                </td>
                <td>
                    @item.VehicleLoadWeight
                </td>
            </tr>
            <tr>

                <td>
                </td>
                <td colspan="2">
                    @*@Html.ActionLink("Book", "", new { id = item.VehicleID }, new { @class = "link" })*@
                    <input type="submit" id="book" value="Book" />
                </td>
            </tr>



            </tr>

        </table>
    }
    @*</table>*@


</div>

