@model Online_Logistics_Registration_Entity.Vehicle

@{
    ViewBag.Title = "ViewVehicle";
    Layout = "~/Views/Shared/_VehicleMaster.cshtml";
}

<h2>ViewVehicle</h2>


<table border="1">
    <tr>
        <th>
            Vehicle Id
        </th>
        <th>
            Vehicle Number
        </th>
        <th>
            Vehicle Type
        </th>
        <th>
            Start Location
        </th>
        <th>
            Destination Location
        </th>
        <th>
            Load Weight
        </th>
        <th>
            Action
        </th>
    </tr>
    @foreach (Online_Logistics_Registration_Entity.Vehicle item in (IEnumerable<Online_Logistics_Registration_Entity.Vehicle>)TempData["Details"])
    {

        <tr>
            <td>
                @item.VehicleID

            </td>
            <td>
                @item.VehicleNumber
            </td>
            <td>
                @item.VehicleType
            </td>
            <td>
                @item.StartLocation
            </td>
            <td>
                @item.DestinationLocation
            </td>
            <td>
                @item.VehicleLoadWeight
            </td>
            <td>
                @Html.ActionLink("Edit", "EditVehicle", new { id = item.VehicleID }, new { @class = "link" })|
                @Html.ActionLink("Delete", "Delete", new { id = item.VehicleID }, new { @class = "link" })
            </td>
        </tr>

    }
</table>
