<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body class="background">
    <div class="Head">
        <h1>Online Logistics Registration</h1>
    </div>
    <div class="align">
        <div class="empty"></div>
        @if (Request.IsAuthenticated)
        {
            if (HttpContext.Current.User.IsInRole("Admin"))
            {
                <div class="addVehicle">
                    @Html.ActionLink("Add Vehicle", "AddVehicle", "Online_Logistics_Registration_Vehicle", null, new { @class = "link" })
                </div>
                <div class="viewVehicle">
                    @Html.ActionLink("View Vehicle", "ViewVehicle", "Online_Logistics_Registration_Vehicle", null, new { @class = "link" })
                </div>
                <div class="userDetails">
                    @Html.ActionLink("User Details", "UserDetail", "Online_Logistics_Registration_Vehicle", null, new { @class = "link" })
                </div>
                <div class="vehicleType">
                    @Html.ActionLink("Add Type", "VehicleType", "Online_Logistics_Registration_Vehicle", null, new { @class = "link" })
                </div>
            }
            else if (HttpContext.Current.User.IsInRole("User"))
            {
                <div class="addVehicle">
                    @Html.ActionLink("Search", "", "Online_Logistics_Registration_Vehicle", null, new { @class = "link" })
                </div>
                @*<div>
                    @Html.ActionLink("Search", "", "Online_Logistics_Registration_Vehicle", null, new { @class = "link" })
                </div>*@
                <div class="viewVehicle">
                    @Html.ActionLink("User", "", "Online_Logistics_Registration_Vehicle", null, new { @class = "link" })
                </div>
            }
            <div class="logout">
                @Html.ActionLink("Log Out", "LogOut", "Online_Logistics_Registration_User", null, new { @class = "link" })
            </div>
        }
        else
        {
            <div class="register">
                @Html.ActionLink("Register", "Register", "Online_Logistics_Registration_User", null, new { @class = "link" })
            </div>
            <div class="login">
                @Html.ActionLink("Login", "Login", "Online_Logistics_Registration_User", null, new { @class = "link" })
            </div>
        }
       
        <div class="home">
            @Html.ActionLink("Home", "Index", "Online_Logistics_Registration_User", null, new { @class = "link" })
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
