<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @Html.ActionLink("Register", "Register", "Online_Logistics_Registration")&nbsp
        @Html.ActionLink("Login", "Login", "Online_Logistics_Registration")&nbsp
        @Html.ActionLink("Home", "Index", "Online_Logistics_Registration")
        @RenderBody()
    </div>
</body>
</html>
